/*Asterisk wildcard selector eoto override default style*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; }
    /*style for body in general*/
    body {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        color: rgb(0, 0, 0);
    }
    #logo {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: rgb(83, 155, 83);
        text-align: center;
        margin: 15px 0 5px 0;
    
    }
header {
    background-color: rgb(247, 250, 208);
}
main {
    background-color: rgb(232, 239, 237);
    /*make main element take big place and move footer to the bottom*/
    flex: 1 0 auto;
}
/*footer*/
#webmedia {
    text-align: center;
    display: flex;
    justify-content: space-evenly; 
    padding: 30px; list-style-type: none;
}
#webmedia i {
    font-size: 200%;
}