/*google font import*/
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@300&family=Rubik:wght@300&display=swap");
/*Asterisk wildcard selector eoto override default style*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;}
/*general style*/
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /*Genetic project style*/
    color: #3a3a3a;
  font-family: "Lato", sans-serif;;
}

    /*header*/
header {
    background-color: #ffffff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
}
/*remove underline for logo and <a> href*/
header a {
    text-decoration: none;
    color: inherit;

}
h1 {
    font-family: oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;
}
#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}
#menu > li {
    margin-bottom: 1em;
}
/*style navbar dropdown usse toggle*/
nav {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    display: none;
}
/*main content*/
main {
    background-color: lightblue;
    /*push the footer to the bottom*/
    flex: 1 0 auto;


}
/*footer*/
footer {
    background-color: orange;

}